/*---------------------md_global----------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, font, img,
ins, kbd, q, s, samp, small, strike,
sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
center, u, b, i {
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
     font-weight: normal;
     font-style: normal;
     font-size: 100%;
     font-family: inherit;
     vertical-align: baseline
}

h1{
	font-size:14px;
	font-weight:bold;
	color:#666666;
}

select{
    border:1px solid #b2b2b2;
/*    height:22px; */
    padding:2px 3px;
}
option{
    font-size:12px;
    color:#666666;
}

ul.md_closed_object {
    list-style-type: none;
    margin: 0;
}

.objects_container
{
  width: 400px;
  margin-left: 80px;
}

.md_object_owner
{
   font-size: 12px;
}
